 .mylist{
    /* border:1px solid red; */
    margin:.5rem .5rem;
    height:max(70vh,25rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:2rem;
}
 .mylist > .head{
 
    position: relative;
    left:8%;
    margin-bottom: -1rem;
    width:max-content;
   
    font-weight: 300;
    font-size: clamp(2rem,5vw,3rem);
    color: var(--font-primary);
}
 
 .mylist > .head .name{
    position: relative;
    left:0;
    bottom: 0;
}
 /* .mylist > .head .name::before{
    content: '';
    position: absolute;
    left:-1rem;
    transform: translateY(30%);
    width:.4rem;
    height: 70%;
    background: var(--third);
} */
.mylist > .head .name::after{
    content: '';
    position:absolute;
    left:-25%;
    transform: translateY(40%);
    
    width:0;
    height: 0;
    border-top:3vh solid transparent;
    border-bottom:3vh solid transparent;
    border-left:3vh solid var(--third);
    
}

@media (max-width:600px){
    .mylist > .head .name::after{
        border-top:2vh solid transparent;
        border-bottom:2vh solid transparent;
        border-left:2vh solid var(--third);
    }
}