.movie{
    --card-width:12rem;
    --card-height:17rem;
    position: relative;
    padding: 1.5rem;
    padding-bottom: 0;
   
}


/* MOVIE DETAILS */
.mov_details{
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;

}
.movie .main_img{
    width: var(--card-width); 
    height: var(--card-height);
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 0px 20px 5px var(--card-shadow);
    /* border: 3px solid var(--secondary); */
}
 
.movie .movie_info{
    flex:2;
}
.movie .movie_info .genres{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.movie .movie_info h1{
    font-size: 2rem;
    font-weight: bold;
    margin: -1% 0% -1% 0%;
}
.movie .movie_info .yr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}
.movie .movie_info .yr h3{
    font-size: 1rem;
    margin: 0;
    /* background-color: var(--third); */
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    color: var(--third);
}
.movie .movie_info .desc
{
    /* border:1px solid red; */
    width: 50vw;
    height: 5rem;
    overflow: auto;
    font-size: 1rem;
}
.movie .movie_info .actors{opacity: .6;}
 

/* MENUS */
.more_section{
    margin-top:2%;
    display: flex;
    flex-direction: column;
}
.menus{
    display: flex;
    gap:1rem;
    margin-left: 5%;
}
.menu{
    width:max-content;
    padding: .4rem 1rem;
    background: var(--font-primary);
    color: var(--font-secondary);
    font-size: .8rem;
    border-radius: 0 15px 0 0/ 0 30px 0 0;
    cursor: pointer;
}
/* .menu:hover{border: 3px solid var(--third);} */

/* SIMILAR MOVIES */
 
.movie .selected_content p{
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.5rem !important; 
    margin: 0;
    margin-left: 5%;
}
 

/* BUTTON LOADER */
.btnloader{
    position: relative;
    display: grid;
    place-items: center;
    padding: 5%;
    width:2.9rem;
    aspect-ratio: 1/1;
}
.btnloader span{
    width:1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
    transform: rotate(0deg);
    border:1px solid rgba(0,0,0,0.25);
    border-right: 1px solid transparent !important;
    animation:spinbtn .8s ease infinite;
}
@keyframes spinbtn{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


/* ICONS */
.actions{
    flex:.2;
}
.movie .icons{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background: var(--third);
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    /* opacity: .2; */
}
.icon{
    
    position: relative;
    border: none;
    background: none;
    /* background-color: var(--third); */
    color:black;
    width:2.9rem;
    border-radius: 50%;
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    cursor: pointer;
}
.icon:hover::before{
    content: attr(data-src);
    position: absolute;
    display: block;
    right:110%;
    padding: .3rem;
    width:max-content;
    color: var(--font-primary);
    text-align: right;
    font-size: .9rem;
    box-shadow:  0 0 15px var( --button-shadow);

}
.movie .icons i{
    font-size: 1.2rem;  
}
.movie .icon:active{
    transform: scale(.95);
}
/* .movie .icons i:hover{
    background-color: var(--secondary);
    color: var(----font-primary);
    font-size: 1.7rem;
} */



/* close btn */
.movie .cbtn
{
    
    position: absolute;
    top: 1rem;
    right:1rem;
    z-index:3 !important;
    font-size: 2rem;
    color: var(--font-primary);
    border: none;
    cursor: pointer;
}
.movie .cbtn:active{transform: scale(.95); transform-origin: center;}


@media (max-width:600px){
 
    .movie .selected_content {
        width: 100%;
    }
}
