.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    background:hsl(0,0%,0%,.9);
}
.content{
 position: absolute;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: left;
 color: white;
 margin-left: 10%;
}
.content .desc{
   flex:.5;
   font-size:clamp(2rem,5vw,3.5rem);
   width:50%;
}
.content .lbtn button{
    flex:.5;
    width:max-content;
    padding: .8rem 1rem;
    font-size: clamp(1.1rem,3vw,1.3rem);
    
    color: white !important;
    background: hsl(283,90%,32%,1);
    border: none;
    box-shadow: 0px 0px 3px rgba(255,255,255,.6);
    border-radius: 5px;
}
.content .lbtn button:hover{
    background: white ;
    color: hsl(283,90%,32%,1) !important;
 
}
.content .lbtn button:active{transform: scale(.97);transform-origin: right bottom;}


/* LOADING STATE */
.load{
    position: absolute;
    inset: 0;

    background:hsl(0,0%,0%,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.status{
    color: white;
}
